@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

:root {
  --header-height: 3rem;

  /* Colors */
  --hue-color: 210;
  --first-color: hsl(var(--hue-color), 60%, 50%);
  --first-color-second: hsl(var(--hue-color), 64%, 45%);
  --first-color-alt: hsl(var(--hue-color), 55%, 40%);
  --first-color-lighter: hsl(var(--hue-color), 60%, 90%);
  --title-color: hsl(var(--hue-color), 20%, 15%);
  --text-color: hsl(var(--hue-color), 15%, 45%);
  --text-color-light: hsl(var(--hue-color), 10%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 97%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /* Font */
  --body-font: "Poppins", sans-serif;

  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-lighter: 200;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margins bottom */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z index */
  --z-tooltip: 99;
  --z-fixed: 999;
  --z-modal: 9999;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Dark theme */
body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 30%, 57%);
  --first-color-lighter: hsl(var(--hue-color), 29%, 16%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 32%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 48%);
}

/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Dark/Light button */
.nav-btns {
  display: flex;
  align-items: center;
}

.change-theme {
  margin-right: var(--mb-1);
  color: var(--title-color);
  font-size: 1.25rem;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

/* Reusable classes */
.section {
  padding: 2rem 0 4rem;
}

.section-title {
  font-size: var(--h1-font-size);
}

.section-subtitle {
  display: block;
  margin-bottom: var(--mb-3);
  font-size: var(--small-font-size);
}

.section-title,
.section-subtitle {
  text-align: center;
}

/* Layout */
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: 0.3s;
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.nav {
  display: flex;
  max-width: 968px;
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
}

.nav-logo,
.nav-toggle {
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: var(--font-medium);
}

.nav-logo:hover,
.nav-toggle:hover {
  color: var(--first-color);
}

.nav-toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 100%;
  bottom: -100%;
  left: 0;
  background-color: var(--body-color);
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  padding: 2rem 1.5rem 4rem;
  transition: 0.3s;
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav-link-icon {
  font-size: 1.2rem;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-close {
  position: absolute;
  right: 1.5rem;
  bottom: 0.7rem;
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-close:hover {
  color: var(--first-color-alt);
}

.show-menu {
  bottom: 0;
}

.active-link {
  color: var(--first-color);
}

/* Home */
.home-container {
  gap: 1rem;
}

.home-content {
  grid-template-columns: 0.5fr 3fr;
  align-items: center;
  padding-top: 1.5rem;
}

.home-img {
  justify-self: center;
}

.home-blob {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--first-color);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.home-blob img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home-social-icon {
  color: var(--first-color);
  font-size: 1.25rem;
}

.home-social-icon:hover {
  color: var(--first-color-alt);
}

.home-data {
  grid-column: 1 / 3;
}

.home-data-title {
  font-size: var(--big-font-size);
}

.home-data-subtitle {
  color: var(--text-color);
  margin-bottom: var(--mb-0-75);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.home-data-description {
  margin-bottom: var(--mb-2);
}

.home-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

/* Buttons */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  padding: 0.9rem 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-icon {
  margin-left: var(--mb-0-5);
  font-size: 1.25rem;
}

.button-white {
  background-color: #fff;
  color: var(--first-color);
  border: 1px solid var(--first-color-lighter);
}

.button-white:hover {
  background-color: #fff;
}

.button-link {
  background-color: transparent;
  color: var(--first-color);
  padding: 0;
}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

.button-small {
  padding: 0.6rem 1rem;
  font-size: var(--small-font-size);
}

/* About */
.about-container-img {
  display: flex;
  justify-content: center;
}

.about-container-imgAlt {
  width: 265px;
  border-radius: 0.75rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

.about-container-data-description {
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

.about-container-data-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about-container-data-info div {
  text-align: center;
}

.about-container-data-info-title {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.about-container-data-info-name {
  font-size: var(--smaller-font-size);
}

.about-buttons {
  display: flex;
  justify-content: center;
}

.phd-link {
  margin-top: 25px;
}

/* Skills */
.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.skills-content {
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.03);
}

.skills-container-header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2);
  cursor: pointer;
}

.skills-title {
  font-size: var(--h3-font-size);
}

.skills-subtitle {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.skills-icon,
.skills-arrow {
  color: var(--first-color);
  font-size: 2rem;
}

.skills-arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills-icon {
  margin-right: var(--mb-0-75);
}

.skills-list {
  row-gap: 1.5rem;
  padding: 0 0.5rem 0 2rem;
}

.skills-titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills-name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills-bar,
.skills-percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills-bar {
  background-color: var(--first-color-lighter);
}

.skills-percentage {
  display: block;
  background-color: var(--first-color);
}

/* simple widths */
.skills-polymer,
.skills-experimental,
.skills-sustainable,
.skills-office {
  width: 100%;
}

.skills-matlab,
.skills-latex,
.skills-adobe {
  width: 90%;
}

/* Accordion states */
.skills-close .skills-list {
  height: 0;
  overflow: hidden;
}

.skills-open .skills-list {
  height: max-content;
  margin-bottom: var(--mb-1-5);
}

.skills-open .skills-arrow {
  transform: rotate(-180deg);
}

/* Experience */
.experience-container {
  max-width: 768px;
}

.experience-tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.experience-tabs-button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.experience-tabs-button:hover {
  color: var(--first-color);
}

.experience-icon {
  margin-right: var(--mb-0-25);
  font-size: 1.8rem;
}

.experience-active {
  color: var(--first-color);
}

.experience [data-content] {
  display: none;
}

.experience-content.experience-active[data-content] {
  display: block;
}

.experience-sections {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.experience-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.experience-data-alt {
  text-align: left;
}

.experience-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.experience-subtitle {
  display: inline-block;
  margin-bottom: var(--mb-1);
  font-size: var(--small-font-size);
}

.experience-calendar {
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}

.experience-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.experience-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

/* Projects */
.projects-container {
  grid-template-columns: 1fr;
}

.project-card {
  background-color: var(--container-color);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.04);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
}

.project-img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.project-data {
  padding: 1.25rem 1.5rem 1.5rem;
}

.project-title {
  margin-bottom: var(--mb-0-5);
}

.project-description {
  margin-bottom: var(--mb-1);
  font-size: var(--small-font-size);
}

/* Research / Articles */
.articles-container {
  grid-template-columns: 1fr;
}

.articles-content {
  background-color: var(--container-color);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.03);
}

.articles-title {
  margin-bottom: var(--mb-0-5);
  font-size: var(--h3-font-size);
}

.articles-description {
  margin-bottom: var(--mb-0-75);
}

/* Contact */
.contact-container {
  row-gap: 3rem;
}

.contact-items {
  display: grid;
  row-gap: 1.5rem;
}

.contact-information {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: var(--mb-1);
}

.contact-icon {
  margin-right: var(--mb-0-75);
  color: var(--first-color);
  font-size: 2rem;
}

.contact-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact-subtitle {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.contact-form {
  display: grid;
  row-gap: 1.5rem;
}

.contact-inputs {
  display: grid;
  row-gap: 1.5rem;
}

.contact-content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact-label {
  color: var(--title-color);
  font-size: var(--smaller-font-size);
}

.contact-input {
  width: 100%;
  background-color: var(--input-color);
  border: none;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

.contact-button {
  display: flex;
  justify-content: center;
}

/* Footer */
.footer {
  padding-top: 2rem;
}

.footer-bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer-container {
  row-gap: 3.5rem;
}

.footer-title {
  margin-bottom: var(--mb-0-25);
  font-size: var(--h1-font-size);
}

.footer-subtitle {
  font-size: var(--small-font-size);
}

.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer-link:hover {
  color: var(--first-color-lighter);
}

.footer-social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer-social:hover {
  color: var(--first-color-lighter);
}

.footer-copy {
  margin-top: var(--mb-3);
  color: #fff;
  font-size: var(--smaller-font-size);
  text-align: center;
}

.footer-title,
.footer-subtitle,
.footer-link,
.footer-social {
  color: #fff;
}

/* Scroll up */
.scrollup {
  position: fixed;
  right: 1.5rem;
  bottom: -20%;
  background-color: var(--first-color);
  border-radius: 0.4rem;
  opacity: 0.8;
  padding: 0.3rem 0.5rem;
  transition: 0.4s;
  z-index: var(--z-tooltip);
}

.scrollup-icon {
  color: #fff;
  font-size: 1.5rem;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.show-scroll {
  bottom: 3.5rem;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* Small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav-list {
    column-gap: 0;
  }

  .home-content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home-blob {
    width: 180px;
    height: 180px;
  }

  .skills-title {
    font-size: var(--normal-font-size);
  }

  .experience-data {
    gap: 0.5rem;
  }
}

/* Medium devices */
@media screen and (min-width: 568px) {
  .home-content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home-data {
    grid-column: initial;
    margin-top: 25px;
    margin-left: 25px;
  }

  .home-img {
    order: 1;
    justify-self: center;
  }

  .about-container,
  .articles-container,
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-container-imgAlt {
    width: 225px;
    height: 185px;
    align-self: center;
  }

  .experience-sections {
    grid-template-columns: 0.8fr;
  }

  .contact-items {
    display: flex;
    justify-content: space-around;
  }

  .contact-information {
    align-items: center;
  }

  .contact-inputs {
    grid-template-columns: 1fr 1fr;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-texts,
  .footer-links,
  .footer-socials {
    text-align: center;
    align-self: center;
  }

  .footer-socials {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

/* Big devices */
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .header {
    top: 0;
    bottom: initial;
    padding: 1rem 2rem;
  }

  .section {
    padding: 6rem 0 3rem;
  }

  .header,
  .main,
  .footer-container {
    padding: 0 1rem;
  }

  .nav {
    column-gap: 1rem;
  }

  .nav-list {
    display: flex;
    column-gap: 2rem;
  }

  .nav-link {
    font-size: var(--small-font-size);
    font-weight: var(--font-lighter);
  }

  .nav-link-icon,
  .nav-close,
  .nav-toggle {
    display: none;
  }

  .change-theme {
    margin: 0;
  }

  .home-container {
    row-gap: 5rem;
  }

  .home-content {
    column-gap: 2rem;
    padding-top: 5rem;
  }

  .home-blob {
    width: 270px;
    height: 270px;
  }

  .about-container {
    column-gap: 5rem;
  }

  .about-container-imgAlt {
    width: 350px;
    height: 260px;
  }

  .about-container-data-description {
    text-align: initial;
  }

  .about-container-data-info {
    justify-content: space-between;
  }

  .skills-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .experience-sections {
    grid-template-columns: 0.5fr;
  }

  .experience-tabs {
    justify-content: center;
  }

  .experience-tabs-button {
    margin: 0 var(--mb-1-5);
  }

  .projects-container,
  .articles-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large devices */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer-container {
    padding: 0;
  }

  .home-img .home-blob {
    width: 320px;
    height: 320px;
  }

  .home-social {
    transform: translateX(-5rem);
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-socials {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }

  .footer-links {
    flex-direction: row !important;
    align-items: center;
  }

  .footer-link {
    margin-left: var(--mb-1);
  }
}
