@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {margin:0;padding:0;box-sizing:border-box;font-family:'Inter',sans-serif;}
body {background:#0c0c0c;color:white;scroll-behavior:smooth;}
a{text-decoration:none;color:white;}

.navbar {
  display:flex;justify-content:space-between;align-items:center;
  padding:20px;position:fixed;width:100%;top:0;background:#111;
  border-bottom:1px solid #222;
}
.nav-links {display:flex;gap:20px;list-style:none;}
.nav-links a:hover {color:#00eaff;}
.logo {font-size:24px;font-weight:700;color:#00eaff;}

.resume-btn {
  padding:8px 14px;background:#00eaff;color:black;border:none;
  font-weight:600;border-radius:4px;cursor:pointer;
}
.resume-btn:hover {background:white;}

.hero {display:flex;align-items:center;justify-content:space-between;
  padding:120px 8% 50px;}
.hero-text{max-width:50%;}
.hero h1{font-size:50px;font-weight:700;}
.hero h1 span{color:#00eaff;}
.hero h2{opacity:.7;margin:10px 0;}
.hero p{opacity:.8;margin-bottom:20px;}
.hero-btn{padding:10px 20px;background:#00eaff;border:none;color:black;
  font-weight:700;border-radius:4px;cursor:pointer;}
.hero-img img{width:350px;border-radius:8px;}

.section {padding:80px 8%;}
.title{font-size:32px;margin-bottom:20px;color:#00eaff;}
.skills-grid{display:flex;flex-wrap:wrap;gap:10px;}
.skills-grid span{background:#111;padding:10px 15px;border-radius:4px;}

.exp-item{margin-bottom:25px;}
.list li{margin:8px 0;}
.contact p{margin:8px 0;}
